body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.page-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    background-color: bisque;
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
}

.items {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.items img {
    width: 100%;
    height: auto;
}

.name {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 700;
}

p:nth-child(4) {
    margin: auto;
}

button.add-to-cart {
    display: block;
    margin: auto;
    background-color: rgb(198, 198, 198);
    padding: 2%;
}

footer {
    width: 80%;
    margin: auto;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 1rem;
}

footer li {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

input, button {
    font-size: 1rem;
    padding: 0.5 rem 1.75rem;
    border: 1px solid;
}

footer li > span:first-child {
    margin-right: auto;
}

footer li > * {
    margin: 0 1rem;
}